<h1>List of cocktails</h1>
<div class="card-group">
<% @cocktails.each do |cocktail| %>
  <div>
    <div class="card" style="width: 25rem;">
      <img class="img-fluid" src="https://cdn2.theweek.co.uk/sites/theweek/files/styles/super_wide/public/2019/10/the_ivy_cropped.jpg?itok=QgSlU5y7" alt="Card image cap">
      <div class="card-img-overlay">
        <h6 class="card-title text-white "><%= cocktail.name %></h6>
        <h2 class="btn "> <%= link_to "details", cocktail_path(cocktail) %></h2>
      </div>
    </div>
  </div>
<% end %>
</div>
  <h6 class= "btn btn_success">
  <%= link_to "New Cocktail", new_cocktail_path  %>
  </h6>
